/* Home Page */

.MainHomeContainer{
    padding-top: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.HomeThreeImg{
    padding-top: 5%;

}