
.NavContainer{
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 10;
    margin-top: -0.7%;
    background-color: white;
    align-items: center;
    flex-direction: row;
    /* padding-left: 1%; */
    padding-right: 1%;
    align-content: stretch;
}
.NavElements{
    display: flex;
    margin-left: 20%;
}
.NavElements>a{
    margin-left: 63%;
}
.ProfileImg{
    margin-left: 41%;

}
.NavElements>a{
    text-decoration: none;
    color: black;
}

